<div class="container">
		<div class="header-container">
		  <h1>Image Directory of a WEB Slinger
		  </h1>
		   <h1  ng-show="accounts">Submit Success! You can check the link.. 
			 <a href = "<%accounts%>"><%accounts%></a>
		  </h1>
		</div>
		<div class="row">
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic1='images/spidey1.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic1%>" alt="...">
			  <div class="caption">
				<h3>spidey1.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic1" data-ng-click="clicked(pic1,'1,217,470 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic2='images/spidey2.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic2%>" alt="...">
			  <div class="caption">
				<h3>spidey2.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic2" data-ng-click="clicked(pic2,'484,026 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic3='images/spidey3.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic3%>" alt="...">
			  <div class="caption">
				<h3>spidey3.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic3" data-ng-click="clicked(pic3,'400,888 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		  </div>
		  <div class="row">
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic4='images/spidey4.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic4%>" alt="...">
			  <div class="caption">
				<h3>spidey4.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic4" data-ng-click="clicked(pic4,'996,572 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic5='images/spidey5.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic5%>" alt="...">
			  <div class="caption">
				<h3>spidey5.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic5" data-ng-click="clicked(pic5,'492,980 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<div data-ng-init="pic6='images/spidey6.jpg'" class="thumbnail">
			  <img height = "242px" ng-src="<%pic6%>" alt="...">
			  <div class="caption">
				<h3>spidey6.jpg</h3>
				<p>...</p>
				<p><a data-ng-attr-id="pic6" data-ng-click="clicked(pic6,'970,828 bytes')" class="btn btn-primary" role="button">Submit</a></p>
			  </div>
			</div>
		  </div>
		</div>
</div>